name: Tests

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Lua
        run: sudo apt-get update && sudo apt-get install -y lua5.3

      - name: Run unit tests
        run: lua5.3 tests/test_addon.lua

  luacheck:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run Luacheck
        uses: nebularg/actions-luacheck@v1
        with:
          files: "GuildNoteUpdater.lua"
          args: "--globals GuildNoteUpdater GuildNoteUpdaterSettings CreateFrame UIParent C_Timer C_GuildInfo SlashCmdList SLASH_GUILDNOTEUPDATER1 SLASH_GUILDUPDATE1 UnitName GetRealmName GetNumGuildMembers GetGuildRosterInfo GuildRosterSetPublicNote GetAverageItemLevel GetSpecialization GetSpecializationInfo GetNumSpecializations GetProfessions GetProfessionInfo IsInGuild strsplit strtrim UIDropDownMenu_Initialize UIDropDownMenu_SetWidth UIDropDownMenu_SetText UIDropDownMenu_CreateInfo UIDropDownMenu_AddButton UIDropDownMenu_EnableDropDown UIDropDownMenu_DisableDropDown --no-unused-args"
